<script src="js/controller/topbar.js"></script>
<div class="container">
    <div class="logo">
       <a href="index.html"><img src="images/logo1.png" alt=""/></a>
    </div>
    <ul class="user_action">
      <li>
        <a href="#" id="account_a" style="color: yellowgreen;"></a></li>
      <li><a href="login.html" id="login_a"><img alt="Login" src="images/login-btn.png"
        width="100" height="40"></a>
        <a href="#" id="logout_a" onclick="logout();"><img alt="Logout" src="images/logout-btn.png"
        width="100" height="40"></a></li>
   </ul>
   <div class="clearfix"> </div>
</div>
